<div class="container">
    <mat-toolbar>
        <span>
      <a routerLink="/">My Social Network</a>
    </span>
        <span class="spacer"></span>
        <mat-nav-list>
            <a mat-list-item *ngIf="iSAuthSuccess" routerLink="/create" routerLinkActive="mat-accent">Post Create</a
      >
      <a
        mat-list-item
        *ngIf="!iSAuthSuccess"
        routerLink="/auth/login"
        routerLinkActive="mat-accent"
        >Login</a
      >
      <button mat-list-item *ngIf="iSAuthSuccess" (click)="onLogout()">
        Logout
      </button>
    </mat-nav-list>
  </mat-toolbar>
</div>