.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  min-width: 50%;
  form {
    .mat-form-field {
      display: block;
      margin: 10px;
    }
    .save_btn {
      margin: 10px 10px;
      width: 50%;
    }
  }
}

.mat-spinner {
  margin: auto;
}
